body{
    background-color: #53bccf;
   font-family: 'Roboto', sans-serif;
}

.description{
    background-color: #2d4370;
    width: 80%;
    height: 100vh;
    text-align: center;
    padding-top: 10%;
}

.logo-design{
    font-size: 40px;
    color: white;
}
.custom-file-upload{
    background-color: white;
    font-size: 20px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:8%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    color: #2d4370;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.predict-btn{
    background-color: #1c8adb;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}
#file1{
    display: none;
}
.text{
    margin-top: 10%;
    color: white;
}

.image-section{
    padding-top: 10%;
}
.predicted-image-section{
    border: 5px solid  #2d4370;
}
.image-text{
    border: 3px dashed #1c8adb;
    color: #1c8adb;
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.caption-line{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #2d4370;
    margin-top: 5%;
}
.caption-text{
    border: 3px dashed #1c8adb;
    color: #1c8adb;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer{
    background-color: #2d4370;
    color: white;
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}